.text-primary-100 {
  color: "#f28c87";
}

.text-primary-200 {
  color: "#f17972";
}

.text-primary-300 {
  color: "#f1706a";
}

.bgPrimary100 {
  background-color: "#f28c87";
}

.bg-primary-200 {
  background-color: "#f17972";
}

.bg-primary-300 {
  background-color: "#f1706a";
}
